<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_AdminActionsLog
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Amasty_AdminActionsLog::amaudit_settings" title="Amasty Admin Actions Log" sortOrder="10401" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::system">
                    <resource id="Magento_Backend::system_other_settings">
                        <resource id="Amasty_AdminActionsLog::amaudit" title="Amasty Admin Actions Log">
                            <resource id="Amasty_AdminActionsLog::actions_log" title="Actions Log" sortOrder="10"/>
                            <resource id="Amasty_AdminActionsLog::active_sessions" title="Active Sessions" sortOrder="20"/>
                            <resource id="Amasty_AdminActionsLog::login_attempts" title="Login Attempts" sortOrder="30"/>
                            <resource id="Amasty_AdminActionsLog::page_visit_history" title="Page Visit History" sortOrder="40"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
