<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="althea_topsearch_term_load_after">
        <observer name="althea_topsearch_term_load_after_observer" instance="Althea\TopSearch\Observer\TermLoadAfterObserver"/>
    </event>
</config>