// Main styles

.widget.blog-posts {
    clear: both;
    font-family: $font;
    width: 100%;

    .post-items {
        display: flex;
        -webkit-display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 -15px;

        .post-item {
            flex-basis: 33.333%;
            -webkit-flex-basis: 33.333%;
            list-style: none;
            padding: 0 15px;
            box-sizing: border-box;

            .item-wrapper {
                padding-bottom: 43px;
            }
        }
        // Image
        .post-image {
            margin-bottom: 21px;

            img {
                width: 100%;
                vertical-align: top;
            }
        }

        // Title
        .post-title {
            margin-bottom: 6px;

            h3 {
                font-family: $font;
                font-size: $title-size;
                line-height: $title-lh;
                font-weight: 500;
                margin: 0;

                a {
                    color: $title-color;
                    text-decoration: none;

                    &:hover {
                        color: lighten($color, 40%);
                    }
                }
            }
        }

        // Short Content
        .post-short-content {
            font-size: inherit;
            line-height: inherit;
            margin-bottom: 26px;
        }

        // Post link
        .post-link {
            color: $link-color;
            font-weight: 700;
            text-transform: none;

            &:hover {
                color: lighten($color, 40%);
            }
        }

        // Post data
        .post-data {
            border-top: solid 1px $data-border-color;
            padding: 11px 0 0;
            color: $post-data-color;
            display: flex;
            -webkit-display: flex;
            justify-content: space-between;
            -webkit-justify-content: space-between;

            .create-date,
            .post-author,
            .post-comments {
                a {
                    color: $post-data-color;
                    text-decoration: none;
                    &:hover {
                        color: $color;
                    }
                }
                a span:before,
                &:before {
                    font-size: 18px;
                    padding-right: 4px;
                    color: $color;
                    vertical-align: middle;
                }
            }
            .create-date {
                order: 1;
                -webkit-order: 1;

                time {
                    display: inline-block;
                }
            }
            .post-author {
                order: 2;
                -webkit-order: 2;
            }
            .post-comments {
                order: 3;
                -webkit-order: 3;
                flex-basis: 50px;
                -webkit-flex-basis: 50px;
                text-align: right;
            }

            @media (max-width: 1200px) {
                display: block;
                overflow: hidden;

                .create-date,
                .post-author {
                    display: block;
                }

                .post-comments {
                    float: right;
                }
            }
        }

        @media (max-width: 768px) {
            .post-item {
                flex-basis: 50%;
                -webkit-flex-basis: 50%;

                .item-wrapper {
                    padding-bottom: 20px;
                }
            }
        }
        @media (max-width: 350px) {
            .post-item {
                flex-basis: 100%;
                -webkit-flex-basis: 100%;
            }
        }
    }
}
