<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="TemplateMonster\ThemeOptions\Helper\ColorScheme" type="Althea\ThemeOptions\Helper\ColorScheme"/>
    <preference for="TemplateMonster\ThemeOptions\Block\Adminhtml\System\Config\Field\ColorScheme" type="Althea\ThemeOptions\Block\Adminhtml\System\Config\Field\ColorScheme"/>
</config>