/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/.idea
/.gitattributes
/node_modules

/app/etc/env.php

/tests/unit/tmp
/tests/unit/phpunit.xml
/tests/integration/etc/config.xml
/tests/integration/etc/mysql.php
/var
/pub/static
/vendor
