<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <rewards>
            <display_options>
                <is_show_referral_share>0</is_show_referral_share>
            </display_options>
        </rewards>
    </default>
</config>