<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_Label
 */
-->
<!--
/**
 * Copyright © 2015 Amasty. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Amasty_Label::label" title="Product Labels" module="Amasty_Label" sortOrder="40" parent="Magento_Catalog::inventory" action="amasty_label/labels/" resource="Amasty_Label::label"/>
    </menu>
</config>
