<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_Label
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amasty_label" translate="label" type="text" sortOrder="161812" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Product Labels</label>
            <tab>amasty</tab>
            <resource>Amasty_Label::config</resource>
            <group id="display" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Display Settings</label>
                <field id="product" translate="label comment" type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Product Page Label Container</label>
                    <comment>DOM-selector for Container</comment>
                </field>
                <field id="category" translate="label comment" type="text" sortOrder="15" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Category Page Label Container</label>
                    <comment>DOM-selector for Container</comment>
                </field>
            </group>
            <group id="on_sale" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>`On Sale` Condition</label>
                <field id="sale_min" translate="label comment" type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Minimal discount amount</label>
                </field>
                <field id="sale_min_percent" translate="label comment" type="text" sortOrder="15" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Minimal discount percentage</label>
                </field>
                <field id="rounding" translate="label comment" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Rounding of discount percentage</label>
                    <source_model>Amasty\Label\Model\Source\Rounding</source_model>
                </field>
            </group>
            <group id="new" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>`Is New` Condition</label>
                <field id="is_new" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Use `New from Date` and `New to Date`</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="creation_date" translate="label comment" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Use `Creation Date`</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>It will not be used if previous setting set to `Yes` and product have `New from Date` or `New to Date` attributes.</comment>
                </field>
                <field id="days" translate="label comment" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Product is new threshold</label>
                    <comment>In days</comment>
                    <depends>
                        <field id="creation_date">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
