<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Althea_Catalog::althea">
                    <resource id="Althea_PaymentFilter::althea_paymentfilter_rules" title="Payment Filter" translate="title" sortOrder="40"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
