<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Althea\PaymentFilter\Api\Data\RuleInterface" type="Althea\PaymentFilter\Model\Rule"/>
    <preference for="Althea\PaymentFilter\Api\RuleRepositoryInterface" type="Althea\PaymentFilter\Model\RuleRepository"/>
    <preference for="Magento\Shipping\Model\Rate\Result" type="Althea\PaymentFilter\Model\Rate\Result"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="althea_paymentfilter_rule_listing_data_source"
                      xsi:type="string">Althea\PaymentFilter\Model\ResourceModel\Rule\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Althea\PaymentFilter\Model\ResourceModel\Rule\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">althea_paymentfilter_rule</argument>
            <argument name="eventPrefix" xsi:type="string">althea_paymentfilter_rule_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">rule_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Althea\PaymentFilter\Model\ResourceModel\Rule</argument>
        </arguments>
    </type>
    <virtualType name="RuleGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular"
                      xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext"
                      xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Althea\PaymentFilter\Api\Data\RuleInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">althea_paymentfilter_rule</item>
                    <item name="identifierField" xsi:type="string">rule_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Althea\PaymentFilter\Api\Data\RuleInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="storeReader"
                              xsi:type="string">Althea\PaymentFilter\Model\ResourceModel\Rule\Relation\Store\ReadHandler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="storeCreator"
                              xsi:type="string">Althea\PaymentFilter\Model\ResourceModel\Rule\Relation\Store\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="storeUpdater"
                              xsi:type="string">Althea\PaymentFilter\Model\ResourceModel\Rule\Relation\Store\SaveHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Althea\PaymentFilter\Api\Data\RuleInterface"
                      xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>
    <type name="Althea\PaymentFilter\Model\Rule\Condition\Combine">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form_name" xsi:type="string">althea_paymentfilter_rule_form</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin name="Althea_PaymentFilter::getPaymentInformationAfter" type="Althea\PaymentFilter\Plugin\GetPaymentInformationAfter"/>
    </type>
</config>
