<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="althea_paymentfilter_api_data_ruleinterface_save_before">
        <observer name="legacy_model_althea_paymentfilter_rule_before_save" instance="Magento\Framework\EntityManager\Observer\BeforeEntitySave"/>
    </event>
    <event name="althea_paymentfilter_api_data_ruleinterface_save_after">
        <observer name="legacy_model_althea_paymentfilter_rule_after_save" instance="Magento\Framework\EntityManager\Observer\AfterEntitySave"/>
    </event>
    <event name="althea_paymentfilter_api_data_ruleinterface_delete_before">
        <observer name="legacy_model_althea_paymentfilter_rule_before_delete" instance="Magento\Framework\EntityManager\Observer\BeforeEntityDelete"/>
    </event>
    <event name="althea_paymentfilter_api_data_ruleinterface_delete_after">
        <observer name="legacy_model_althea_paymentfilter_rule_after_delete" instance="Magento\Framework\EntityManager\Observer\AfterEntityDelete"/>
    </event>
    <event name="althea_paymentfilter_api_data_ruleinterface_load_after">
        <observer name="legacy_model_althea_paymentfilter_rule_after_load" instance="Magento\Framework\EntityManager\Observer\AfterEntityLoad"/>
    </event>
    <event name="payment_method_is_active">
        <observer name="payfilter" instance="Althea\PaymentFilter\Observer\PaymentMethodIsActiveObserver"/>
    </event>
</config>
