<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <section id="althea_webapi"
                 translate="label"
                 type="text"
                 sortOrder="50"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>API Maintenance Mode</label>
            <tab>althea</tab>
            <resource>Althea_Webapi::webapi</resource>
            <group id="general"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="is_enabled"
                       translate="label"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enable API Maintenance Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="msg_content"
                       translate="label"
                       type="textarea"
                       sortOrder="30"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Message</label>
                </field>
            </group>
        </section>
    </system>
</config>