//
//  Generic Grid/List Item
//  ---------------------------------------------

.products .product-item {

  //Details
  .product-item-name {
    display: block;
  }

  //Reviews
  .rating-summary {
    display: inline-block;
    .label {
      display: none;
    }
  }
  .reviews-actions {
    display: inline-block;
    padding-left: 5px;
    .view {
      font-size: $font-ultra-small;
      line-height: normal;
      display: inline-block;
      padding-top: 3px;
    }
  }

  //Swatches

  .swatch-attribute-options {
    margin-top: 5px;
  }

  //Price
  .price {
    font-size: 24px;
  }
  .old-price {
    .price {
      font-size: 16px;
    }
  }
  .price-box {
    > span {
      display: inline-block;
      margin-right: 15px;
    }
  }

  //Actions
  .product-item-actions {
  }
  .actions-primary {
    .primary {
      span:before {
        font-family: $linearicons-icon;
        content: "\e74d";
        font-size: 161%;
        padding-right: 10px;
        line-height: 0;
        vertical-align: sub;
        font-weight:normal;
      }
    }
  }

  .actions-secondary {
    .action {
      border: 0;
      background: none;
      padding: 0;
      font-size: 22px;
      &:first-child {
        margin-right: 28px;
      }
    }
  }

  .smart-labels .main-labels {
    max-width: 80px;
    margin: -13px;
    @media (min-width: $screen-xs-min - 1) and (max-width: $screen-sm-min) {
      max-width: 50px;
      margin: -8px;
    }
  }
}
.product-item-info-hide {
  opacity: 0.5;
  position: relative;
}