<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bss" translate="label" sortOrder="200">
            <label><![CDATA[ BSS COMMERCE ]]></label>
        </tab>
        <section id="minmaxqtypercate" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Min/Max Order Qty per Category for Customer Group</label>
            <tab>bss</tab>
            <resource>Bss_MinMaxQtyOrderPerCate::minmaxqtypercate</resource>
            <group id="bssmmqpc" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Min/Max Order Qty per Category for Customer Group</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Select Yes to enable the module]]></comment>
                </field>
                <field id="show_category" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show category</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Show all category of product in shopping cart]]></comment>
                </field>
                <field id="mess_err_max" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Messages Limit Max</label>
                </field>
                <field id="mess_err_min" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Messages Limit Min</label>
                </field>
                 <field id="min_max_qty" translate="label" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Min/max Order Quantity</label>
                    <frontend_model>Bss\MinMaxQtyOrderPerCate\Block\Adminhtml\System\Config\Form\Minmaxqty</frontend_model>
                    <backend_model>Bss\MinMaxQtyOrderPerCate\Model\Config\Backend\Serialized\Minmax</backend_model>
                    <comment><![CDATA[Set Option for min/max qty per category for customer group]]></comment>
                </field>
            </group>
        </section>
    </system>
</config> 