<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="althea_track" frontName="althea_track">
            <module name="Althea_Aftership"/>
        </route>
    </router>
</config>