<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Althea\MobileVersioning\Api\VersionRepositoryInterface" type="Althea\MobileVersioning\Model\VersionRepository"/>
    <preference for="Althea\MobileVersioning\Api\Data\VersionInterface" type="Althea\MobileVersioning\Model\Version" />
</config>
