<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Xtento_GridActions::configuration" title="Simplify Bulk Order Processing" module="Xtento_GridActions" sortOrder="155" parent="Xtento_XtCore::extensions" action="adminhtml/system_config/edit/section/gridactions" resource="Xtento_GridActions::configuration"/>
    </menu>
</config>
<!--
/**
 * Product:       Xtento_GridActions (2.1.1)
 * ID:            pla2jYgPEb1bu8ncBMlGtw6aKM5PQ018LXPJPkLn5XM=
 * Packaged:      2017-06-01T10:43:07+00:00
 * Last Modified: 2017-01-25T13:03:13+00:00
 * File:          app/code/Xtento/GridActions/etc/adminhtml/menu.xml
 * Copyright:     Copyright (c) 2017 XTENTO GmbH & Co. KG <info@xtento.com> / All rights reserved.
 */
-->