<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Althea\Nexmo\Logger\Handler\Custom">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Althea\Nexmo\Logger\NexmoLogger">
        <arguments>
            <argument name="name" xsi:type="string">nexmoLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Althea\Nexmo\Logger\Handler\Custom</item>
            </argument>
        </arguments>
    </type>
    <preference for="Althea\Nexmo\Api\VerificationApiInterface" type="Althea\Nexmo\Model\VerificationApi"/>
</config>