<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_Label
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\Image">
        <plugin name="Amasty_Label::AddLabel" type="Amasty\Label\Plugin\Catalog\Product\Label"/>
    </type>
    <type name="Magento\Catalog\Block\Product\View\Gallery">
        <plugin name="Amasty_Label::AddLabel" type="Amasty\Label\Plugin\Catalog\Product\View\Label"/>
    </type>
    <type name="Magento\Catalog\Block\Product\ImageBuilder">
        <plugin name="Amasty_Label::AddProductToData" type="Amasty\Label\Plugin\Catalog\Product\ImageBuilder"/>
    </type>
    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="Amasty_Label::ListProduct" type="Amasty\Label\Plugin\Catalog\Product\ListProduct"/>
    </type>
</config>