<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Xtento_OrderExport::configuration" title="Order Export Module" module="Xtento_OrderExport" sortOrder="130" parent="Xtento_XtCore::extensions" action="adminhtml/system_config/edit/section/orderexport" resource="Xtento_OrderExport::configuration"/>
        <add id="Xtento_OrderExport::menu" title="Sales Export" module="Xtento_OrderExport" sortOrder="100" parent="Magento_Sales::sales" action="xtento_orderexport/index/index" resource="Xtento_OrderExport::menu"/>
        <add id="Xtento_OrderExport::manual" title="Manual Export" module="Xtento_OrderExport" sortOrder="10" parent="Xtento_OrderExport::menu" action="xtento_orderexport/manual/index" resource="Xtento_OrderExport::manual"/>
        <add id="Xtento_OrderExport::log" title="Execution Log" module="Xtento_OrderExport" sortOrder="20" parent="Xtento_OrderExport::menu" action="xtento_orderexport/log/index" resource="Xtento_OrderExport::log"/>
        <add id="Xtento_OrderExport::profile" title="Export Profiles" module="Xtento_OrderExport" sortOrder="30" parent="Xtento_OrderExport::menu" action="xtento_orderexport/profile/index" resource="Xtento_OrderExport::profile"/>
        <add id="Xtento_OrderExport::destination" title="Export Destinations" module="Xtento_OrderExport" sortOrder="40" parent="Xtento_OrderExport::menu" action="xtento_orderexport/destination/index" resource="Xtento_OrderExport::destination"/>
    </menu>
</config>
<!--
/**
 * Product:       Xtento_OrderExport (2.2.8)
 * ID:            pla2jYgPEb1bu8ncBMlGtw6aKM5PQ018LXPJPkLn5XM=
 * Packaged:      2017-06-01T10:42:37+00:00
 * Last Modified: 2017-01-25T13:03:45+00:00
 * File:          app/code/Xtento/OrderExport/etc/adminhtml/menu.xml
 * Copyright:     Copyright (c) 2017 XTENTO GmbH & Co. KG <info@xtento.com> / All rights reserved.
 */
-->