<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <section id="nexmo"
                 translate="label"
                 type="text"
                 sortOrder="40"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>Nexmo</label>
            <tab>althea</tab>
            <resource>Althea_Nexmo::nexmo</resource>
            <group id="general"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="is_enabled"
                       translate="label"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enable Nexmo</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key"
                       translate="label"
                       type="text"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>API Key</label>
                </field>
                <field id="api_secret"
                       translate="label"
                       type="text"
                       sortOrder="30"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>API Secret</label>
                </field>
                <field id="pin_expiry"
                       translate="label"
                       type="text"
                       sortOrder="40"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>PIN Expiry</label>
                    <comment>Please specify value from 60 to 3600 (seconds)</comment>
                </field>
                <field id="exception_msg_request_not_canceled"
                       translate="label"
                       type="textarea"
                       sortOrder="50"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Exception Message</label>
                    <comment>Exception message for "unable to cancel verification request"</comment>
                </field>
            </group>
            <group id="web"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Web Configuration</label>
                <field id="is_checkout_verification_enabled"
                       translate="label"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enable Checkout Verification On Web</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>