<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="brand_prepare_save">
        <observer name="brand_prepare_save_observer" instance="Althea\ShopByBrand\Observer\BrandPrepareSaveObserver"/>
    </event>
</config>